<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8">
			<pattern>[%d{ISO8601}] [%-5level] [%X{session_id}] [%X{login}] [%logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="static" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/nh/logs/game-search/ant4game</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/nh/logs/game-search/ant4game-%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg%n</pattern>
		</layout>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/nh/logs/game-search/errlog/webapp.out</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/nh/logs/game-search/errlog/webapp.out-%d{yyyyMMdd}.log</FileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{ISO8601}] [%-5level] [%X{session_id}] [%X{login}] [%logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</configuration>