@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;font-family:Arial,sans-serif;color:#565a5c;}
a{text-decoration:none;}
img{border:none;}
li{list-style:none;}
body{background:#f7f7f7;}

.header{width:100%;height:55px;background:#fff;border-bottom:1px solid #c4c4c4;position:fixed;left:0;top:0;z-index:999;}
.header .head{min-width:1080px;height:55px;margin:0 auto;}
.header .head .logo{width:80px;height:50px;float:left;margin-left:20px;margin-top:10px;}
.header .head .select{width:200px;height:20px;float:left;margin-top:22px;}
.header .head .select select{border:1px solid #c4c4c4;width:120px;outline:none;}
.header .head .loginbar{width:300px;height:50px;float:right;margin-top:15px;margin-right:20px;}
.header .head .loginbar a{font-size:13px;color:#666;margin-left:25px;}
.header .head .loginbar a.list{border:1px solid #007a87;border-bottom-color: #004f58;background-color: #007a87;display:inline-block;width:130px;height:28px;border-radius:3px;line-height:28px;text-align:center;font-weight:bold;color:#fff;}
.header .head .loginbar a.list:hover{background-color:#12acbc;border:1px solid #12acbc;border-bottom-color: #004f58;}

.content{width:1080px;overflow:hidden;margin:0 auto;margin-top:20px;}
.content .title{width:1080px;height:50px;}
.content .title p{font-size:28px;color:#5e5e5e;float:left;}
.content .title .sort{float:right;font-size:14px;}
.content .title .sort select{border:1px solid #c4c4c4;width:140px;height:25px;outline:none;background:#f7f7f7;}
.content .apartment{width:340px;height:290px;margin:10px;overflow:hidden;float:Left;position:relative;}
.content .apartment .photo{width:60px;height:60px;border-radius: 50%;border: 2px solid #fff;overflow:hidden;position:absolute;right:15px;bottom:35px;}
.content .apartment .price{width:80px;height:40px;background:rgba(0,0,0,0.8);position:absolute;left:0px;top:160px;font-size:28px;color:#fff;line-height:40px;}
.content .apartment .price span{display:block;width:16px;height:16px;float:left;margin-left:6px;margin-top:10px;font-size:16px;color:#fff;line-height:10px;}
.content .apartment .word p.product-title{font-size:16px;margin-top:12px;}
.content .apartment .word p.duration{font-size:14px;color:#979797;margin-top:5px;}
.content .img{width:340px;height:227px;overflow:hidden;position:relative;}
.content .img a.btn{width:20px;height:39px;display:block;position:absolute;left:10px;top:80px;z-index:99;display:none;}
.content .img a#btnLeft{background:url(../img/arrow.png) left bottom;}
.content .img a#btnRight{background:url(../img/arrow.png) left top;position:absolute;left:310px;top:80px;}
.content .img ul li{width:340px;height:227px;position:absolute;left:0;top:0;opacity:0;filter:alpha(opacity=0);}



.footer{width:100%;height:55px;background:#eee8df;}
.footer .policy{width:1000px;margin:0 auto;line-height:55px;}
.footer .policy a{font-size:13px;color:#4d3636;margin:auto 10px;}
.footer .policy span{font-size:13px;color:#4d3636;float:right;}
.footer .policy select{width:80px;height:18px;background:#eee8df;margin-right:10px;border:1px solid #999;}
.footer .policy select option{font-size:13px;}

.backtotop a{display:block;width:100%;height:50px;background:url(../img/totop.png) no-repeat center 7px #d9ccb9;cursor:pointer;}
.backtotop a:hover{background:url(../img/totop.png) no-repeat center bottom #674702;}

.page{width:1080px;height:65px;margin:25px auto;}
.page a{font-size:13px;float: left;padding: 5px 10px;margin-left: 10px;text-decoration: none;border: 1px solid #c4c4c4;border-radius: 2pbackground-color: #fff;}
.page a.selected{background:#e3e3e3;}
.page p{font-size:15px; margin-left:10px;margin-bottom:10px;}

