*{margin:0;padding:0;font-family:Arial,sans-serif;color:#565a5c;}
a{text-decoration:none;}
img{border:none;}
li{list-style:none;}
body{background:#f7f7f7;}

.header{width:100%;height:55px;background:#fff;border-bottom:1px solid #c4c4c4;}
.header .head{min-width:1080px;height:55px;margin:0 auto;}
.header .head .logo{width:80px;height:45px;float:left;margin-left:20px;margin-top:10px;}
.header .head .select{width:200px;height:20px;float:left;margin-top:22px;}
.header .head .select select{border:1px solid #c4c4c4;width:120px;outline:none;}
.header .head .loginbar{width:300px;height:50px;float:right;margin-top:15px;margin-right:20px;}
.header .head .loginbar a{font-size:13px;color:#666;margin-left:25px;}
.header .head .loginbar a.list{border:1px solid #007a87;border-bottom-color: #004f58;background-color: #007a87;display:inline-block;width:130px;height:28px;border-radius:3px;line-height:28px;text-align:center;font-weight:bold;color:#fff;}
.header .head .loginbar a.list:hover{background-color:#12acbc;border:1px solid #12acbc;border-bottom-color: #004f58;}

.nav{width:100%;height:40px;background:#565a5c;}
.nav .nav-detail{width:100%;height:40px;line-height:40px;}
.nav .nav-detail span{font-size:14px;color:#fff;margin-left:20px;display:block;height:25px;text-align:left;}
.nav .nav-detail span a{float:left;color:#ccc;margin-right:40px;}
.nav .nav-detail span a:hover{color:#fff;}


.main{width:100%;overflow:hidden;}
.main .leftmenu{width:230px;min-height:600px;float:left;background:#fff;border-right:1px solid #dce0e0;}
.main .leftmenu ul{width:230px;height:140px;}
.main .leftmenu ul li{width:205px;height:35px;padding-left:25px;line-height:35px;background:url(../img/shizi.png) no-repeat 200px center;}
.main .leftmenu ul li.title{height:50px;line-height:50px;color:#cacccd;font-weight:bold;font-size:14px;background:none;}
.main .leftmenu ul li.choosed{background:url(../img/shizi1.png) no-repeat 200px center #edefed;}
.main .leftmenu ul li a{width:100%;height:35px;display:block;font-size:15px;}
.main .leftmenu ul li.choosed a{font-weight:bold;}
.main .leftmenu div.step{width:230px;margin-top:20px;border-top:1px solid #dce0e0;height:50px;text-align:center;line-height:25px;padding-top:20px;}
.main .leftmenu div.step span{color:#F30;}

.main .rightbox{margin-left:231px;min-height:600px;}
.main .rightbox .pricebox{width:100%;min-height:600px;float:left;background:#f5f5f5;}
.main .rightbox .pricebox .up{width:100%;overflow:hidden;border-bottom:1px solid #dce0e0;}
.main .rightbox .pricebox .up .baseprice{width:200px;height:200px;float:left;}
.main .rightbox .pricebox .up .baseprice h2{margin-left:40px;margin-top:40px;font-weight:normal;}
.main .rightbox .pricebox .up .baseprice p{font-size:14px;margin-top:10px;line-height:20px;margin-left:40px;}
.main .rightbox .pricebox .up .price{width:200px;float:left;margin-left:40px;padding-bottom:20px;}
.main .rightbox .pricebox .up .price span.h{display:block;font-size:15px;margin-top:45px;margin-bottom:10px;}
.main .rightbox .pricebox .up .price input{width:320px;height:35px;}
.main .rightbox .pricebox .up .price textarea{min-width:450px;min-height:150px;}

.main .rightbox .pricebox .down{text-align:left;}
.main .rightbox .pricebox .down span{display:inline-block;font-size:18px;margin-left:100px;margin-top:20px;text-align:left;font-size:20px;}
.main .rightbox .pricebox .down span.search{display:inline-block;width:320px;height:35px;background:url(../img/toolbar_find.png) no-repeat right center #fff;border:1px solid #999;margin-left:88px;cursor:pointer;}
.main .rightbox .pricebox .down span.search input{width:300px;height:35px;border:none;outline:none;}


.main .rightbox .pricebox .down .option{margin-left:40px;display:none;}
.main .rightbox .pricebox .down .option p{font-size:15px;margin-top:10px;margin-bottom:10px;}
.main .rightbox .pricebox .down .option table tr td{height:35px;border-bottom:1px solid #999;font-size:15px;}
.main .rightbox .pricebox .down .option table tr td.red{color:#F03;}
.main .rightbox .pricebox .down .option table tr td.white{background:#fff;text-align:center;}
.main .rightbox .pricebox .down .option .values{width:648px;height:58px;border:1px solid #999;line-height:58px;}
.main .rightbox .pricebox .down .option .values a{display:block;float:left;margin-left:10px;margin-top:15px;height:30px;padding-left:10px;padding-right:30px;line-height:30px;font-size:14px;background:url(../img/close.png) no-repeat right center #ccc;}
.main .rightbox .pricebox .down .option .values span{display:block;float:right;font-size:14px;margin:0;margin-right:10px;}


.footer{width:100%;height:55px;background:#eee8df;}
.footer .policy{width:1000px;margin:0 auto;line-height:55px;}
.footer .policy a{font-size:13px;color:#4d3636;margin:auto 10px;}
.footer .policy span{font-size:13px;color:#4d3636;float:right;}
.footer .policy select{width:80px;height:18px;background:#eee8df;margin-right:10px;border:1px solid #999;}
.footer .policy select option{font-size:13px;}

.backtotop a{display:block;width:100%;height:50px;background:url(../img/totop.png) no-repeat center 7px #d9ccb9;cursor:pointer;}
.backtotop a:hover{background:url(../img/totop.png) no-repeat center bottom #674702;}

