*{margin:0;padding:0;font-family:Arial,sans-serif;color:#565a5c;}
a{text-decoration:none;}
img{border:none;}
li{list-style:none;}
body{background:#f7f7f7;}

.header{width:100%;height:55px;background:#fff;border-bottom:1px solid #c4c4c4;}
.header .head{min-width:1080px;height:55px;margin:0 auto;}
.header .head .logo{width:80px;height:40px;float:left;margin-left:20px;margin-top:10px;}
.header .head .select{width:200px;height:20px;float:left;margin-top:22px;}
.header .head .select select{border:1px solid #c4c4c4;width:120px;outline:none;}
.header .head .loginbar{width:300px;height:40px;float:right;margin-top:15px;margin-right:20px;}
.header .head .loginbar a{font-size:13px;color:#666;margin-left:25px;}
.header .head .loginbar a.list{border:1px solid #007a87;border-bottom-color: #004f58;background-color: #007a87;display:inline-block;width:130px;height:28px;border-radius:3px;line-height:28px;text-align:center;font-weight:bold;color:#fff;}
.header .head .loginbar a.list:hover{background-color:#12acbc;border:1px solid #12acbc;border-bottom-color: #004f58;}

.nav{width:100%;height:40px;background:#565a5c;}
.nav .nav-detail{width:1000px;margin:0 auto;height:40px;line-height:40px;}
.nav .nav-detail a{font-size:14px;color:#cacccd;margin-right:25px;display:block;height:36px;float:left;}
.nav .nav-detail a:hover{color:#fff;}
.nav .nav-detail a.select{color:#fff;border-bottom:4px solid #cacccd;}


.main{width:100%;margin-bottom:30px;}
.main .maincontent{width:1000px;margin:0 auto;margin-top:25px;overflow:hidden;min-height:500px;}
.main .maincontent ul{width:998px;height:50px;background:#edefed;border:1px solid #dce0e0;line-height:50px;}
.main .maincontent ul li{float:left;padding-left:25px;padding-right:25px;}
.main .maincontent ul li.selected{background:#f5f5f5;height:51px;border-left:1px solid #dce0e0;border-right:1px solid #dce0e0;}
.main .maincontent ul li.selected a{font-weight:bold;}
.main .maincontent .detail{width:958px;border:1px solid #dce0e0;background:#f5f5f5;border-top:none;min-height:400px;padding:20px;}
.main .maincontent .detail span{display:block;width:100%;}
.main .maincontent .detail span label{display:block;font-size:15px;margin-top:10px;margin-bottom:10px;}
.main .maincontent .detail span input{width:500px;height:35px;border:1px solid #dce0e0;margin-bottom:15px;}
.main .maincontent .detail span textarea{width:600px;min-height:180px;border:1px solid #dce0e0;}
.main .maincontent .detail span a{width: 150px;
text-align: center;
height: 35px;
display: inline-block;
background: #ff5a5f;
border: 1px solid #ff5a5f;
border-bottom-color: #e00007;
color: #fff;
line-height: 35px;
border-radius: 3px;margin-top:20px;}


.main .maincontent .inbox{width:958px;border: 1px solid #dce0e0;border-bottom:none;background:#fff;}
.main .maincontent .inbox span{display:block;width:100%;height:60px;font-size:16px;line-height:50px;text-indent:10px;background:#edefed;border-bottom:1px solid #dce0e0;}
.main .maincontent .inbox span select{height:30px;margin-top:15px;margin-left:10px;}
.main .maincontent .inbox div{padding-left:10px;padding-right:10px;width:800px;padding-top:10px;padding-bottom:10px;}
.main .maincontent .inbox div.message{height:40px;background:#fff;border-bottom:1px solid #dce0e0;width:938px;}
.main .maincontent .inbox div.message .photo{padding:0;margin:0;margin-left:10px;margin-top:10px;width:45px;height:45px;float:left;border-radius: 50%;border:1px solid #ccc;overflow:hidden;}
.main .maincontent .inbox div.message .time{width:100px;height:40px;float:left;margin-left:10px;font-size:14px;}
.main .maincontent .inbox div.message .content{float:left;width:500px;font-size:14px;}
.main .maincontent .inbox div.message .price{float:right;width:130px;font-size:14px;}

.main .maincontent .inbox1 div.message{height:70px;background:#fff;border-bottom:1px solid #dce0e0;width:938px;}
.main .maincontent .inbox1 div.message .photo{padding:0;margin:0;margin-left:10px;margin-top:10px;width:45px;height:45px;float:left;border-radius: 50%;border:1px solid #ccc;overflow:hidden;}
.main .maincontent .inbox div.message .photo1{width:95px;height:63px;border-radius:0;margin-top:0px;background:#ccc;}
.main .maincontent .inbox1 div.message .time{width:100px;height:40px;float:left;margin-left:10px;font-size:14px;}
.main .maincontent .inbox1 div.message .content{float:left;width:500px;font-size:14px;}
.main .maincontent .inbox1 div.message .price{float:right;width:130px;font-size:14px;}
.main .maincontent .inbox div.message .price a.btn{border:1px solid #009aab;border-bottom-color: #006671;background: #009aab;color: #fff;display:block;width:130px;height:34px;font-size:14px;text-align:center;line-height:34px;}
.main .maincontent .inbox div.message .price a.dot{display:inline-block;width:15px;height:15px;background:#FF0000;border-radius:50%;}
.main .maincontent .inbox div.message .price a.dot1{background:#009900;}
.main .maincontent .inbox div.message .price select{width:100px;height:30px;}
.main .maincontent .inbox div.message .time a.title{display:block;font-size:18px;font-weight:bold;}
.main .maincontent .inbox div.message .time a.calendar{color:#FF0000;}

.contact_host{width:400px;background:#fff;border:1px solid #c4c4c4;position:fixed;left:50%;top:30%;margin-left:-200px;z-index:9999;}
.contact_host span{display:block;width:100%;height:40px;font-size:16px;text-indent:10px;line-height:40px;background:#d4d4d4;}
.contact_host span img{float:right;margin-right:10px;margin-top:10px;}
.contact_host div{width:380px;margin:0 auto;margin-top:20px;}
.contact_host div table input{width:130px;height:30px;}
.contact_host div table select{width:50px;height:34px;}
.contact_host div p{margin-top:15px;font-size:14px;line-height:20px;}
.contact_host div textarea{width:380px;height:100px;margin-top:10px;margin-bottom:10px;}
.contact_host div a.button{width:80px;text-align:center;height:30px;display:inline-block;border:1px solid #fc989b;border-bottom-color: #ef8387;background: #fc989b;color: #fff;line-height:30px;float:right;margin-bottom:20px;}


.footer{width:100%;height:55px;background:#eee8df;}
.footer .policy{width:1000px;margin:0 auto;line-height:55px;}
.footer .policy a{font-size:13px;color:#4d3636;margin:auto 10px;}
.footer .policy span{font-size:13px;color:#4d3636;float:right;}
.footer .policy select{width:80px;height:18px;background:#eee8df;margin-right:10px;border:1px solid #999;}
.footer .policy select option{font-size:13px;}

.backtotop a{display:block;width:100%;height:50px;background:url(../img/totop.png) no-repeat center 7px #d9ccb9;cursor:pointer;}
.backtotop a:hover{background:url(../img/totop.png) no-repeat center bottom #674702;}
